h1  {
font-size:  100px;
font-style: italic;
text-shadow: 10%;
font-weight: 300;
color: rgb(17, 0, 255);
border: 10px;
text-align: center;
}
#ab{
display: flex;
justify-content: center;


}



#f{
    display: flex;
    justify-content: space-evenly;
    
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    font-size: 40px;
    box-shadow: 10px;
border: 10px;
color: blue;
background-color: antiquewhite;
}

#ac{
font-style: italic;
color: rgb(43, 205, 226);
font-weight: 200px;
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#ay{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}


#ax{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

#az{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

#ae{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



}

#ag{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



}

#ad{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

#af{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#am{

    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#an{
    font-style: italic;
    color: rgb(43, 205, 226);
    font-weight: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

#bd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;

}

#bm{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;

}

#bn{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    


}

#be{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    

}



#bx{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    


}

#by{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    


}

#ba{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    

}



#bz{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    

}









